[package]
name = "webgpu"
version = "0.1.0"
edition = "2021"


[dependencies]
image = "0.25.5"
rand = "0.9.0"
#rust_on_rails = "3.0.0"
rust_on_rails = {path="../rust_on_rails"}

[lib]
name="main"
crate-type=["staticlib", "cdylib", "rlib"]

####################
# cargo apk config #
####################


[package.metadata.android]
package = "com.webgpu.pkg"
build_targets = [ "aarch64-linux-android" ]

[[package.metadata.android.uses_permission]]
name = "android.permission.INTERNET"

[package.metadata.android.sdk]
min_sdk_version = 33
target_sdk_version = 33

label = "Application Name"
