[package]
name = "webgpu"
version = "0.1.0"
edition = "2021"


[dependencies]
image = "0.25.5"
rust_on_rails = {path="../rust_on_rails"}

[lib]
name="main"
crate-type=["staticlib", "cdylib", "rlib"]

####################
# cargo apk config #
####################

[package.metadata.android]
package = "com.webgpu.pkg"
build_targets = [ "aarch64-linux-android" ]

[[package.metadata.android.uses_permission]]
name = "android.permission.INTERNET"

[package.metadata.android.sdk]
min_sdk_version = 28
target_sdk_version = 31

label = "Application Name"

# See https://developer.android.com/guide/topics/manifest/meta-data-element
#
# Note: there can be several .meta_data entries.
# Note: the `resource` attribute is currently not supported.
[[package.metadata.android.application.meta_data]]
name = "com.samsung.android.vr.application.mode"
value = "vr_only"
